<footer>
    <div class="contenedor">
        <div class="nosotros">
            <h2>Sobre Nosotros</h2>
            <p>Ofrecemos las mejores soluciones IT.</p>
            <p>Con amplia experiencia en el mercado, desde 1999</p>
        </div>
        <div class="menu">
            <nav>
                <ul>
                    <li><a href="/index">Calendario</a></li>
                    <li><a href="/categorias">Categorías</a></li>
                    <li><a href="/facilitadores">Facilitadores</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <p class="copyright">Todo los derechos reservados &copy;</p>
</footer>