<div class="barra">
    <div class="contenedor clearfix">
        <div class="logo">
            <a href="/index">
                <img src="../img/new-millenium-logo.png" alt="new-millenium-logo" />
            </a>
        </div>
        <nav class="navegacion-principal">
            <a href="/index">Calendario</a>
            <a href="/categorias">Categorías</a>
            <a href="/facilitadores">Facilitadores</a>
            <a href="/loginAdministracion">Administración</a>
        </nav>
    </div>
</div>
