<head>
    <meta name="viewport" content="width=device-width" />
    <title>Administración - MillenniumCalendar</title>
    <!-- Estilos personalizados -->
    <link href="../css/styles_administracion.css" rel="stylesheet" type="text/css"/>

    <!-- Estilos externos -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css' />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css' />

    <!-- Kits de iconos -->
    <script src="https://kit.fontawesome.com/d21a3be417.js"></script>
    <script src="../../js/index.js"></script>
</head>