<div id="sidebar">
    <header>
        <img class="logo-sidebar" src="../img/new-millenium-logo.png" />
    </header>
    <ul class="nav">
        <li><a href="/indexAdministracion"><i class="fas fa-home"></i>Inicio</a></li>
        <li><a href="/listarAdministradores"><i class="fas fa-user-shield"></i>Usuarios</a></li>
        <li><a href="/listarActividades"><i class="fas fa-paperclip"></i>Actividades</a></li>
        <li><a href="/listarCategorias"><i class="fas fa-cogs"></i>Categorías</a></li>
        <li><a href="/listarFacilitadores"><i class="fas fa-chalkboard-teacher"></i>Facilitadores</a></li>
        <li><a href="/listarBitacoras"><i class="fas fa-info-circle"></i>Bitácora</a></li>
    </ul>
</div>